* {
  margin: 0;
  padding: 0; }

.to-do-form {
  display: inline-block;
  padding: 10px;
  background-color: darkgreen;
  color: #4d1010; }

.title, .descr {
  border: 0;
  width: 100px; }

.field {
  margin: 10px; }

.field label {
  width: 100px;
  display: inline-block;
  color: #ffff7c; }

.addBtn {
  border: 0;
  background-color: white;
  outline: 2px solid red;
  padding: 5px; }

.output {
  display: flex;
  flex-wrap: wrap; }

.item {
  position: relative;
  padding: 10px;
  background-color: darkblue;
  box-shadow: 10px 10px 10px black;
  color: white;
  margin: 10px; }

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  right: 0;
  background-color: darkred;
  cursor: pointer;
  transform: translate(50%, -50%); }
