* {
  margin: 0;
  padding: 0;
}

.to-do-form {
  display: inline-block;
  padding: 10px;
  background-color: darkgreen;
  color: rgb(77, 16, 16);
}
.title, .descr {
  border: 0;
  width: 100px;
}

.field {
  margin: 10px;
}
.field label {
  width: 100px;
  display: inline-block;
  color: yellow;
}
.addBtn {
  border: 0;
  background-color: white;
  outline: 2px solid red;
  padding: 5px;
}

.output {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
  background-color: darkblue;
  box-shadow: 10px 10px 10px black;
  color: white;
  margin: 10px;
}
